############################
# Frontend (Node / esbuild)
############################
custom_components/thehague_parking/frontend/node_modules/
custom_components/thehague_parking/frontend/.npm/
custom_components/thehague_parking/frontend/.cache/
custom_components/thehague_parking/frontend/.esbuild/

# Build output (WEL committen)
# custom_components/thehague_parking/frontend/dist/

############################
# Python / Home Assistant
############################
__pycache__/
*.pyc
custom_components/*/__pycache__/

############################
# Editor / IDE
############################
.vscode/
.idea/

############################
# OS
############################
.DS_Store
Thumbs.db
